.green-00 {
    background-color: $green-00;
}
.green-50 {
    background-color: $green-50;
}
.yellow-20 {
    background-color: $yellow-20;
}
.yellow-05 {
    background-color: $yellow-05;
}
.yellow-70 {
    color: $yellow-70;
}
.yellow-20bg {
    background-color: $yellow-20;
}

.border_radius {
    border-radius: $border-radius;
}
.ff-body {
    font-family: $ff-body;
}
.ff-heading {
    font-family: $ff-heading;
}
.yellow-95 {
    color: $yellow-95;
}

.user-name {
    font-size: 1.2rem;
    color: $fc-grey-dark;
    font-family: $ff-heading;
}

.stat-number {
    font-size: 2rem;
    color: $fc-accent-yellow;
    font-family: $ff-heading;
}
.stat-title {
    font-size: 0.8rem;
    color: $fc-grey-dark;
    font-family: $ff-heading;
}

.tech-logo {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.navigation-link {
    font-size: 1rem;
    color: $fc-grey-dark;
    font-family: $ff-body;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $fc-accent-yellow;
        text-transform: none;
        text-decoration: none;
    }
}
.personal-card--title {
    img {
        width: 175px;
        height: 175px;
        margin: 0;
        border-radius: 50%;
    }
    margin-bottom: 40px;
}
