@import "_variables";

.itf-card {
    background: $bg-primary;
    border-radius: $border-radius;
    box-shadow: $box-shadow-primary;
    overflow: hidden;

    &-header {
        padding: 15px 30px;
        background: $green-60;

        .itf-card-title {
            line-height: 1;
            margin: 0;
            font-size: 1.2rem;
            color: $white;
            font-family: $ff-heading;
        }
    }
    &-body {
        padding: 15px 30px;
    }
    .itf-form-box {
        padding: 15px 0px;
        .itf-form-label {
            font-size: 0.9rem;
            color: $fc-grey-dark;
            font-family: $ff-heading;
        }

        .itf-form-control {
            border-radius: $border-radius-small;
            border: 1px solid $fc-grey-clear;
            padding: 10px;
            font-size: 1.2rem;
            color: $fc-grey-dark;
            font-family: $ff-body;
            font-weight: 400;
            outline: none;
            width: 100%;

            &:focus {
                border: 1px solid $fc-accent-yellow;
                outline: 2px solid $fc-accent-yellow;
            }
        }
        .itf-is-invalid {
            border: 1px solid $coral-50;
            outline: 2px solid $coral-50;
        }
        .itf-invalid-feedback {
            color: $coral-50;
            font-size: 0.9rem;
            font-family: $ff-body;
        }
    }
    .itf-skip-link {
        color: $green-40;
        font-size: 0.9rem;
        font-family: $ff-body;
        margin: 10px 0;
    }
}
.itf-checkbox-list {
    padding: 15px 30px;
    max-height: 250px;
    overflow-y: auto;
    border-radius: $border-radius-small;
    border: 1px solid $fc-grey-clear;

    .itf-checkbox-list-item {
        margin-bottom: 10px;
        .itf-checkbox-list-item-label {
            font-size: 0.9rem;
            font-weight: 400;
            color: $fc-grey-dark;
            font-family: $ff-body;
        }
        .itf-checkbox {
            margin-right: 10px;
        }
    }
}

.select-style {
    margin: 0;
    width: 100%;
    border-radius: $border-radius-small;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;

    border: 1px solid $fc-grey-clear;
    padding: 10px;
    font-size: 0.8rem;
    color: $fc-grey-dark;
    font-family: $ff-body;
    font-weight: 400;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #d41f1f;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
}
.select-style {
    margin: 0;
    width: 100%;
    border-radius: $border-radius-small;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;

    border: 1px solid $fc-grey-clear;
    padding: 10px;
    font-size: 0.8rem;
    color: $fc-grey-dark;
    font-family: $ff-body;
    font-weight: 400;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #d41f1f;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
}
