.green-00 {
    background-color: $green-00;
}
.yellow-20 {
    background-color: $yellow-20;
}
.yellow-05 {
    background-color: $yellow-05;
}
.yellow-70 {
    color: $yellow-70;
}
.yellow-20bg {
    background-color: $yellow-20;
}

.border_radius {
    border-radius: $border-radius;
}
.ff-body {
    font-family: $ff-body;
}
.ff-heading {
    font-family: $ff-heading;
}
.yellow-95 {
    color: $yellow-95;
}
