.itf-btn {
    border-radius: $border-radius-small;
    color: $white;
    font-size: 0.8rem;
    font-family: $ff-heading;
    font-weight: 400;
    padding: 10px 40px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}
a.itf-btn {
    color: $white;
    text-decoration: none;
    // display: block;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}
.itf-btn-primary {
    border: 1px solid $btn-primary-bg;
    background: $btn-primary-bg;
    &:hover {
        transition: all 0.3s ease-in-out;
        background: $btn-primary-bg-hoover;
        border: 1px solid $btn-primary-bg-hoover;
    }
    &:active {
        transition: all 0.1s ease-in-out;
        background: $btn-primary-bg-active;
        border: 1px solid $btn-primary-bg-active;
    }
}
.itf-btn-primary-outline {
    background: $yellow-05;
    border: 1px solid $btn-primary-bg;
    color: $btn-primary-bg;

    &:hover {
        background: $yellow-10;
        border: 1px solid $yellow-60;
        color: $yellow-60;
    }
    &:active {
        background: $btn-primary-bg-active;
        border: 1px solid $btn-primary-bg-active;
        color: $white;
    }
}
.itf-btn-secondary {
    border: 1px solid $btn-secondary-bg;
    background: $btn-secondary-bg;
    &:hover {
        background: $btn-secondary-bg-hoover;
        border: 1px solid $btn-secondary-bg-hoover;
    }
    &:active {
        background: $btn-secondary-bg-active;
        border: 1px solid $btn-secondary-bg-active;
    }
}
.itf-btn-tertiary {
    border: 1px solid $btn-tertiary-bg;
    background: $btn-tertiary-bg;
    &:hover {
        background: $btn-tertiary-bg-hoover;
        border: 1px solid $btn-tertiary-bg-hoover;
    }
    &:active {
        background: $btn-tertiary-bg-active;
        border: 1px solid $btn-tertiary-bg-active;
    }
}
.itf-btn-tertiary-outline {
    background: $green-05;
    border: 1px solid $btn-tertiary-bg;
    color: $btn-tertiary-bg;

    &:hover {
        background: $green-10;
        border: 1px solid $green-60;
        color: $green-60;
    }
    &:active {
        background: $btn-tertiary-bg-active;
        border: 1px solid $btn-tertiary-bg-active;
        color: $white;
    }
}
.itf-btn-small {
    font-size: 0.6rem;
    padding: 12px 24px;
}

.itf-btn-full-width {
    width: 100%;
}
.itf-btn-icon {
    padding: 8px 9px;
}
