// Colors
$white: #fff;

// ============================== Layout colors ==============================
$bg-primary: $white;
$bg-secondary: #f2f4f3;

//--------- green
$green-00: #e4f0ef;
$green-05: #d3e3e1;
$green-10: #c3d6d4;
$green-15: #b2cac6;
$green-20: #a1bdb9;
$green-30: #80a39e;
$green-40: #5e8a83;
$green-50: #3d7068;
$green-55: #123c35;
$green-60: #315a53;
$green-70: #25433e;
$green-80: #182d2a;
$green-85: #12221f;
$green-90: #0c1615;
$green-95: #060b0a;

//--------- coral
$coral-40: #ff7885;
$coral-50: #ff5666;
$coral-60: #dd4553;

//--------- yellow
$yellow-00: #ffffff;
$yellow-05: #fff8ec;
$yellow-10: #fff2d9;
$yellow-15: #ffebc6;
$yellow-20: #ffe4b3;
$yellow-30: #ffd78e;
$yellow-40: #ffc968;
$yellow-50: #ffbc42;
$yellow-60: #d99f35;
$yellow-70: #b38228;
$yellow-80: #8e651a;
$yellow-85: #7b5714;
$yellow-90: #68480d;
$yellow-95: #553a07;

// ============================== Button colors ==============================
//--------- primary
$btn-primary-bg: $yellow-50;
$btn-primary-bg-hoover: $yellow-40;
$btn-primary-bg-active: $yellow-60;
//--------- secondary
$btn-secondary-bg: $coral-50;
$btn-secondary-bg-hoover: $coral-40;
$btn-secondary-bg-active: $coral-60;
//--------- tertiary
$btn-tertiary-bg: $green-50;
$btn-tertiary-bg-hoover: $green-40;
$btn-tertiary-bg-active: $green-60;

// ============================== Box Shadows ==============================
$box-shadow-primary: 0px 7px 10px -3px rgba(74, 106, 101, 0.26);
$box-shadow-secondary: 0px 7px 10px -3px #ffbc42;

// ============================== Border Radius ==============================
$border-radius: 20px;
$border-radius-small: 10px;

// ============================== Typography ==============================
$ff-heading: "Krona One", sans-serif;
$ff-body: "Raleway", sans-serif;
$fc-grey-clear: #77878b;
$fc-grey-dark: #373e40;
$fc-accent-yellow: $yellow-50;
$fc-accent-green: $green-70;
$fc-accent-green-clear: $green-50;
